.row.content-row
  %p#notice= notice
  %h1 Listing Shows
  %table
    %thead
      %tr
        %th Venue
        %th Date
        %th Door time
        %th Set time
        %th Title
        %th Cost
    %tbody
      - @shows.each do |show|
        %tr
          %td= show.venue
          %td= show.date
          %td= show.door_time
          %td= show.set_time
          %td= show.title
          %td= show.cost
  %br/
  
