%p#notice= notice
%p
  %strong Venue:
  = @show.venue
%p
  %strong Date:
  = @show.date
%p
  %strong Door time:
  = @show.door_time
%p
  %strong Set time:
  = @show.set_time
%p
  %strong Title:
  = @show.title
%p
  %strong Cost:
  = @show.cost
= link_to 'Edit', edit_show_path(@show)
|
= link_to 'Back', shows_path
